/* ######### google font link ############### */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: url(../img/main\ bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body #loader{
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #00000075;
  border-bottom: 2px solid #fff;
  animation: loader 0.8s ease-in-out infinite;
}
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}
.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  align-items: center;
  padding: 10px 20px;
}
.navbar .logo,
.navbar .login {
  width: 50%;
  display: flex;
  align-items: center;
}
.navbar .logo {
  justify-content: flex-start;
}
.navbar .logo h1 {
  color: #fff;
}

.navbar .login {
  display: flex;
  justify-content: flex-end;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .login .profile-pic {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .login .logout {
  position: absolute;
  top: 55px;
  right: -14px;
  width: 90px;
  background-color: #fff;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.navbar .login .logout ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar .login .logout li {
  text-align: center;
}

.navbar .login .logout li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 700;
}
.navbar .login .logout li a:hover {
  color: #fff;
}
.navbar .login .logout:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

/* ####################### start Quiz section ####################### */
.startQuiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}
.startQuiz h1 {
  font-size: 49px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}
.startQuiz button {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #acacac;
  background: transparent;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  animation: start 1s ease-in-out infinite;
}
.startQuiz button:hover {
  background-color: #fff;
  color: #000;
}
@keyframes start {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.119);
  }
  100% {
    transform: scale(1);
  }
}

/* ################## selection section ##################### */

.selectSection {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.selectSection .textArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.textArea h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 600;
}
.selectSection .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.buttons button {
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin: 7px 10px;
  transition: 0.3s ease-in-out;
}
.buttons button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.buttons button:active {
  transform: scale(0.8);
}

/* ####################### for html quiz ################### */

.htmlSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.htmlSection .sectionHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.htmlSection .sectionHeading h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}

.htmlSection .quizBox {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
}
.quizBox p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  font-weight: 700;
}
.quizBox #htmlanswers {
  border-top: 1px solid #ccc;
  width: 100%;
  align-self: flex-start;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.quizBox #htmlanswers li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.quizBox #htmlanswers li:hover {
  background-color: #ccc;
}
.quizBox ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.htmlSection .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}
.htmlSection .buttonBox button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buttonBox button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.htmlSection .result{
  width: 430px;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center   ;
  flex-wrap: wrap;
  animation: result 0.9s ease-in-out forwards;
  transition: 0.5s ease-in;
  margin: 40px 0;
}
.result h2{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.result h5{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #000;
}
.marks{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.marks p{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.marks span{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.result button{
  width: 230px;
  height: 30px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.result button:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

/* ####################### for css quiz ################### */

.cssSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cssSection .sectionHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cssSection .sectionHeading h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}

.cssSection .cssQuizBox {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
}
.cssQuizBox p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  font-weight: 700;
}
.cssQuizBox ul {
  border-top: 1px solid #ccc;
  width: 100%;
  align-self: flex-start;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cssQuizBox ul li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  transition: .3s ease-in-out;
}
.cssQuizBox ul li:hover {
  background: #ccc;
  cursor: pointer;
}
.cssQuizBox ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.cssSection .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}
.cssSection .buttonBox button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buttonBox button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.cssSection .cssResult{
  width: 50%;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center   ;
  flex-wrap: wrap;
  animation: result 0.9s ease-in-out forwards;
  transition: 0.5s ease-in;
  margin: 40px 0;
}
.cssResult h2{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.cssResult h5{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #000;
}
.marks p{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.marks span{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.cssResult button{
  width: 230px;
  height: 30px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.cssResult button:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

/* ####################### for javascript quiz ################### */

.javascriptSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.javascriptSection .sectionHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.javascriptSection .sectionHeading h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}

.javascriptSection .jsQuizBox {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
}
.jsQuizBox p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  font-weight: 700;
}
.jsQuizBox ul {
  border-top: 1px solid #ccc;
  width: 100%;
  align-self: flex-start;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.jsQuizBox ul li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  transition: 0.3s ease-in-out;
}
.jsQuizBox ul li:hover {
  background: #ccc;
  cursor: pointer;
}
.jsQuizBox ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.javascriptSection .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}
.javascriptSection .buttonBox button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buttonBox button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.javascriptSection .jsResult{
  width: 50%;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  animation: result 0.9s ease-in-out forwards;
  transition: 0.5s ease-in;
  margin: 40px 0;
}
.jsResult h2{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.jsResult h5{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #000;
}
.marks p{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.marks span{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.jsResult button{
  width: 230px;
  height: 30px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.jsResult button:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}
/* ####################### for php quiz ################### */

.phpSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.phpSection .sectionHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phpSection .sectionHeading h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}
.phpSection .phpQuizBox {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
}
.phpQuizBox p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  font-weight: 700;
}
.phpQuizBox ul {
  border-top: 1px solid #ccc;
  width: 100%;
  align-self: flex-start;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.phpQuizBox ul li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  transition: 0.3s ease-in-out;
}
.phpQuizBox ul li:hover {
  background: #ccc;
  cursor: pointer;
}
.phpQuizBox ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.phpSection .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}
.phpSection .buttonBox button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buttonBox button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.phpSection .phpResult{
  width: 50%;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  animation: result 0.9s ease-in-out forwards;
  transition: 0.5s ease-in;
  margin: 40px 0;
}
.phpResult h2{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.phpResult h5{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #000;
}
.marks p{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.marks span{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.phpResult button{
  width: 230px;
  height: 30px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.phpResult button:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}
/* ####################### for python quiz ################### */

.pythonSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.pythonSection .sectionHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pythonSection .sectionHeading h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}

.pythonSection .pyQuizBox {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
}
.pyQuizBox p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  font-weight: 700;
}
.pyQuizBox ul {
  border-top: 1px solid #ccc;
  width: 100%;
  align-self: flex-start;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pyQuizBox ul li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  transition: 0.3s ease-in-out;
}
.pyQuizBox ul li:hover {
  background: #ccc;
  cursor: pointer;
}
.pyQuizBox ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.pythonSection .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}
.pythonSection .buttonBox button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buttonBox button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.pythonSection .pyResult{
  width: 50%;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  animation: result 0.9s ease-in-out forwards;
  transition: 0.5s ease-in;
  margin: 40px 0;
}
.pyResult h2{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.pyResult h5{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #000;
}
.marks p{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.marks span{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.pyResult button{
  width: 230px;
  height: 30px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.pyResult button:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}


/* ###################### media query ############################## */

@media (max-width: 730px) {
  body{
    padding: 0;
  }
  body #loader{
    display: none;
    left: 43%;
  }
  /* ############# html section ############# */
  .htmlSection .quizBox{
    width: 80%;
  }
  .htmlSection .result{
    width: 290px;
  }
  .htmlSection .result h5{
    font-size: 13px;
  }
  .result .marks{
    flex-direction: column;
    align-items: center;
  }
  .result p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .quizBox #htmlanswers{
    padding: 10px 5px;
  }
  .quizBox #htmlanswers li{
    font-size: 14px;
  }
  #htmlanswers li input{
    margin-right: 5px;
  }
  /* ############## css section ################ */
  .cssSection .cssQuizBox {
    width: 80%;
  }
  .cssSection .cssResult{
    width: 290px;
  }
  .cssResult h5{
    font-size: 13px;
  }
  .cssResult .marks{
    flex-direction: column;
    align-items: center;
  }
  .cssResult .marks p{
    margin-bottom: 10px;
  }
  /* ####### javascript Section ############### */
  .javascriptSection .jsQuizBox{
    width: 80%;
  }
  .javascriptSection .sectionHeading h1{
    font-size: 30px;
  }
  .jsQuizBox p{
    font-size: 18px;
  }
  .javascriptSection .jsResult{
    width: 80%;
  }
  .jsResult h5{
    font-size: 13px;
  }
  .jsResult .marks{
    flex-direction: column;
    align-items: center;
  }
  .jsResult .marks p{
    margin-bottom: 10px;
  }
  /* ################ php Section ################### */
  .phpSection .phpQuizBox{
    width: 80%;
  }
  .phpSection .sectionHeading h1{
    font-size: 30px;
  }
  .phpQuizBox p{
    font-size: 18px;
  }
  .phpSection .phpResult{
    width: 80%;
  }
  .phpResult h5{
    font-size: 13px;
  }
  .phpResult .marks{
    flex-direction: column;
    align-items: center;
  }
  .phpResult .marks p{
    margin-bottom: 10px;
  }
  /* ####################### python section ################## */
  .pythonSection .pyQuizBox{
    width: 80%;
  }
  .pythonSection .sectionHeading h1{
    font-size: 30px;
  }
  .pyQuizBox p{
    font-size: 18px;
  }
  .pythonSection .pyResult{
    width: 80%;
  }
  .pyResult h5{
    font-size: 13px;
  }
  .pyResult .marks{
    flex-direction: column;
    align-items: center;
  }
  .pyResult .marks p{
    margin-bottom: 10px;
  }
}


@media (max-width: 515px) {
  
  .jsQuizBox label{
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  body #loader{
    left: 41%;
  }
  /* ######## html section ######### */
  .htmlSection .quizBox{
    width: 90%;
  }
  .htmlSection .buttonBox {
    justify-content: center;
  }
  .htmlSection .buttonBox button{
    width: 80%;
  }
  /* ############ css section ########### */
  .cssSection .cssQuizBox{
    width: 90%;
  }
  .cssSection .buttonBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cssSection .buttonBox button{
    width: 90%;
  }
  /* ########### javascript Section #################### */
  .javascriptSection .jsQuizBox {
    width: 90%;
  }
  .javascriptSection .sectionHeading h1{
    font-size: 25px;
  }
  .jsQuizBox p{
    font-size: 15px;
  }
  .javascriptSection .buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .javascriptSection .buttonBox button{
    width: 80%;
  }
  /* ############ php Section ################ */

  .phpSection .phpQuizBox {
    width: 90%;
  }
  .phpSection .sectionHeading h1{
    font-size: 25px;
  }
  .phpQuizBox p{
    font-size: 15px;
  }
  .phpSection .buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .phpSection .buttonBox button{
    width: 80%;
  }
  /* #################### python Section ################ */

  .pythonSection .pyQuizBox {
    width: 90%;
  }
  .pythonSection .sectionHeading h1{
    font-size: 25px;
  }
  .pyQuizBox p{
    font-size: 15px;
  }
  .pythonSection .buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .pythonSection .buttonBox button{
    width: 80%;
  }
  .pythonSection .pyResult button{
    width: 80%;
  }
}
